* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
a {
	font-family: "Source Sans 3", sans-serif;
	color: #435766;
	font-size: 16px;
	font-weight: 400;
}

a {
	text-decoration: none;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	background: #8dd83d;
	color: #ffffff;
	transition: all 0.5s ease 0s;
}

.button:hover {
	background: #68a02d;
	box-shadow: 0 0 10px 0 #68a02d;
}

.container {
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 15px;
}

.header {
	background: #373a3c;
	border-bottom: 2px solid #777;
	padding: 11px 0;
}

.header-content {
	display: flex;
	align-items: center;
}

.header-logo-img {
	height: 29px;
}

.header-menu {
	flex: 1 1 auto;
}

.header-menu-body {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	list-style: none;
}

.header-menu-item {
	margin: 0 0 0 35px;
}

.header-menu-link {
	transition: all 0.5s ease 0s;
}

.header-menu-link:hover {
	color: #ffffff;
	text-shadow: 0 0 5px #ffffff;
}

.header-form {
}

.header-search {
	border-radius: 4px;
	border: 1px solid #ccc;
	background: #fff;
	display: block;
	width: 200px;
	padding: 10px 15px;
	margin: 0 0 0 25px;
	height: 40px;
	outline: none;
}
.menu-icon {
	display: none;
	height: 40px;
	width: 40px;
	flex: 0 0 40px;
	background: url(../images/icon-menu.svg) no-repeat center / cover;
	border: none;
	cursor: pointer;
	margin: 0 0 0 35px;
}

.home {
	min-height: calc(100vh - 59px);
	background: url(../images/star-wars.jpg) no-repeat center / cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.home-title {
	color: #fff;
	font-size: 75px;
	font-weight: 400;
}

.home-subtitle {
	color: #fff;
	font-size: 24px;
	margin: 0 0 100px 0;
}

.home-button {
	min-width: 136px;
	padding: 10px 25px;
}

.best {
	background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
	padding: 65px 0 165px 0;
}

.best-logo {
	height: 64px;
	display: block;
	margin: 0 auto 16px auto;
}

.best-title {
	color: #fff;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	margin: 0 0 40px 0;
}

.best-title-big {
	font-size: 48px;
	display: block;
}

.card-row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 25px;
}

.card {
	border-radius: 4px;
	border: 1px solid #8dd83d;
	background: #fff;
	overflow: hidden;
	flex: 0 0 320px;
	width: 320px;
	transition: all 0.5s ease;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 0 0 10px 0 #8dd83d;
}

.card-image {
	height: 180px;
}
.best-card-image-1 {
	background: url(../images/best-card-01.jpg) no-repeat center / cover;
}
.best-card-image-2 {
	background: url(../images/best-card-02.jpg) no-repeat center / cover;
}
.best-card-image-3 {
	background: url(../images/best-card-03.jpg) no-repeat center / cover;
}
.card-content {
	padding: 20px;
}
.card-title {
	color: #435766;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0 0 10px 0;
}
.card-text {
	color: #435766;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0 0 40px 0;
}
.card-text-block {
	display: block;
}
.card-button {
	padding: 20px;
}

.exclusive {
	padding: 70px 0 140px 0;
	background: url(../images/exclusive-bg.jpg) no-repeat center/ cover;
}

.exclusive-title {
	color: #8dd83d;
	text-align: center;
	font-size: 45px;
	font-weight: 700;
	margin: 0 0 75px 0;
}

.exclusive-row {
	margin: 0 0 90px 0;
	display: flex;
	justify-content: center;
	gap: 25px;
	flex-wrap: wrap;
}

.exclusive-card-image-1 {
	background: url(../images/exclusive-image-1.jpg) no-repeat center/ cover;
}

.exclusive-card-image-2 {
	background: url(../images/exclusive-image-2.jpg) no-repeat center/ cover;
}

.exclusive-card-image-3 {
	background: url(../images/exclusive-image-3.jpg) no-repeat center/ cover;
}

.exclusive-card-image-4 {
	background: url(../images/exclusive-image-4.jpg) no-repeat center/ cover;
}

.exclusive-button {
	background: #435766;
	max-width: 200px;
	padding: 16px;
	margin: 0 auto;
}

@media (max-width: 777px) {
	.menu-icon {
		display: block;
		position: relative;
		z-index: 10;
	}

	.menu-icon.active {
		background: url(../images/menu-close.png) no-repeat center / cover;
	}

	.header-menu-body {
		top: -100px;
		position: fixed;
		top: -100%;
		left: 0;
		z-index: 9;
		height: 100%;
		width: 100%;
		background-color: #fff;
		transition: all 0.5s ease;
		display: block;
		padding: 150px 0 0 0;
	}

	.header-menu-body.active {
		top: 0;
	}

	.header-logo {
		position: relative;
		z-index: 10;
	}

	.header-search {
		position: relative;
		z-index: 10;
	}
}

.footer {
	padding: 58px 0 0 0;
	background: #373a3c;
}

.footer-content {
	display: flex;
}
.footer-block {
	flex: 0 0 33.333%;
	padding: 0 0 0 65px;
}
.footer-title {
	color: #7dd42f;
	font-size: 18px;
	line-height: 21px;
	margin: 0 0 34px 0;
}
.footer-link {
	display: block;
	margin: 0 0 28px 0;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	text-decoration: none;
}
.footer-social {
	display: inline-block;
	margin: 0 10px 0 0;
}
.footer-buttom {
	display: flex;
	justify-content: space-between;
	padding: 20px 0 40px 0;
	border-top: 1px solid #ffffff;
}

.footer-text {
	font-size: 16px;
	line-height: 19px;
	color: #ffffff;
}
